* {
	margin: 0; /* Technically you are suppoed to use '0' instead of '0px', '0em', '0pt', etc. */
}

body {
  background:rgb(60,60,60); /* This fixes various issues with "leakage" in the background-photos that are viewable on mobile and various screen sizes */
  color:white;
  font-family: 'Inconsolata', sans-serif;
	margin: 0;
}

h1, h2, h3, h4, h5 {
	padding: 20px;
	text-align: center;
}

a {
  transition: color 0.5s ease;
	margin: 0px;
}

a:hover {
	color: #ff69b4; /* Ommited hotpink for it's corresponding color-code in chrome. This guarentees that no change in the browser could change the color. This is just something I personally prefer isn't really *needed*. */
}

a:active {
  
}

ul.linkslist { /*Be more specific with which UL. this is because if you decide to add ULs. */
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #333333;
	display: flex; /* This will enable us to stretch the elements over 100% of the list with ease. */
	width: 100%;

}

li {
	animation: doContract 1.5s ease;
	aninmation-fill-mode: forwards;
	animation-play-state: paused;
	float: left;
	margin: 0px;

}

@keyframes doContract {
	from {
		margin-right: 100%;
	}
	to {
		margin-right: 0;	
	}
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	margin: 0px;
	text-decoration: none;
}

.banner {
	background-position: center; 
	background-image: url("../img/background.png");
	background-attachment: fixed;
	padding-top: 50vh;
	padding-bottom: 50vh;
	background-size: cover; /* This prevents repeating the background which is.. kind of unsuited for the type of full-content background. You will see this impact on mobile devices and if you zoom out on the page. */
}

.splash-title {
	text-align: center;
	font-size: 2.125vw; /* Doing this with the font-size and letter-spacing guarentees that instead of misfitting it will stretch to the proper screen size. */ 
	font-family: 'Jura', sans-serif;
	letter-spacing: 2.125vw;
	transition: all 2.5s ease; /* Slowed it down, was a little too fast */
	animation: doOpacity 1s linear, doFontSize 0.5s ease-out; /* We can do 1000ms and 500ms or 1s and 0.5s but not either/or. It looks ugly... */
	animation-fill-mode: forwards;
	

	/* Today most browsers (for a few years if not more) support this without the "prototype" prefix before them */
}
.splash-title h1 {
	letter-spacing: 3.125vw;
}

@keyframes doFontSize {
	from {
		font-size: 2.125vw;
	}
	to {
		font-size: 1.125vw;
	}
}

@keyframes doOpacity {

	from {
		filter: blur(15px);
		opacity: 0.03;
	}
	to {
		filter: blur(0);
		opacity: 0.3;
	}
}
/* 
.splash-title:hover {
	opacity: 0.3;
}

*/
/* Commented above because I am replacing it with a linear-animation. This is personal preferance, and I simply just like it to stay that way instead of mousing over then moving down and it's hard to see */


.about-background {
	background-size: cover; /* Fix some of the issues related to portrait views of the background. */
	background-position: center;
	background-image: url("../img/art5.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 600px;
}

.container-background {
	background-size: cover; /* Fix some of the issues related to portrait views of the background. */
	background-position: center;
	background-image: url("../img/art6.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 600px;
}

.about {
	height: 800px;
	padding-top: 50px;
	padding-left: 20px;
	letter-spacing: 3px;
	text-align: center;
}

.links {
	font-size: 18px;
	font-family: 'Inconsolata', sans-serif;
	letter-spacing: 2px;
}

.art {
	padding: 10px;
}

.art img {
	width: 300px;
	height: auto;
	padding: 5px;
	filter: grayscale(100%);
	transition: all 1s linear;
}

.art img:hover {
	filter: grayscale(0%);
}

.progress {
	padding: 30px;
	position: relative;
	width: 1000px;
	height: 30px;
	margin: auto;
	text-align: center;
}

.progress-text {
	padding: 10px;
	text-align: center;
	line-height: 20px;
	vertical-align: middle;
	letter-spacing: 10px;
}

.progress-bar {
	position: absolute;
	background: gray;
	width: 1000px;
	height: 30px;
}

.progress-bar-fill {
	transition: all 2s ease; /* More appealing to the eye when its slow. */
	width: 0;
	position: absolute;
	height: 30px;
	background: hotpink;
	line-height: 30px;
	vertical-align: middle;
}

